<!DOCTYPE html>
<html>
  <head>
    <title>Exemplu legislatie.just.ro</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <h1>Rezultate</h1>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <td>Titlu</td>
                <td>DataVigoare</td>
                <td>Emitent</td>
                <td>LinkHtml</td>
                <td>Numar</td>
                <td>Publicatie</td>
                <td>TipAct</td>
              </tr>
            </thead>
            <tbody>
              {% for law in laws %}
              <tr>
                <td>{{law.Titlu}}</td>
                <td>{{law.DataVigoare}}</td>
                <td>{{law.Emitent}}</td>
                <td><a href="{{law.LinkHtml}}">URL</a></td>
                <td>{{law.Numar}}</td>
                <td>{{law.Publicatie}}</td>
                <td>{{law.TipAct}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
